.h3{
    color: white;
    font-size: 40px;
    padding-right: 60px;
    padding-left: 200px;
}
.h31{
    color: white;
    font-size: 40px;
    padding-right: 45px;
    padding-left: 400px;
}
/* .row-row-cols-3{
    margin: 10px;
    width: 50px
} */
.h4{
    color: white;
}
.h4{
    color: white;
}
.p2{
    color: yellow;
}
.spanyellow{
    color: yellow;
}